#about {
  .info-container {
    text-align: justify;
  }

  img {
    width: 100%;
  }

  ul {
    margin: 0;
    padding-inline: 1.4em;
  }

  @media screen and (min-width: 840px) {
    .info-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2vw;
    }

    ul {
      max-width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    img {
      order: 2;
      border-radius: 50%;
      max-width: 260px;
      height: 100%;
    }
  }
}
