.hero {
  background-image: url(../assets/images/ceremony.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-inline: 4vw;
  min-height: 100svh;
  height: max-content;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  border-image: fill 1 linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));

  .subtitle {
    font-size: min(1.1em, 4vw);
    line-height: 1;
    margin-left: 12px;
  }

  header {
    display: flex;
    margin-block: 2em 4em;
    img {
      min-width: 40px;
      max-width: 100px;
      margin: 1em;
    }
  }

  .website-intro {
    padding-block: 3vw;
    padding-bottom: 3rem;
  }

  .bigger-letter {
    font-size: 1.6em;
    font-weight: bold;
  }

  button {
    color: whitesmoke;
    border: 2px solid whitesmoke;
    margin-top: 0.8rem;
    font-size: 1rem;
    padding: 0.4em 3em;
    border-radius: 4px;
    font-weight: 500;
  }
  button:hover {
    background-color: whitesmoke;
    color: black;
    transition: all 350ms ease-in-out;
  }

  p {
    font-size: min(1.4rem, 4.6vw);
  }
}
